.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 800px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	padding: 0 8px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	width: 800px;
	box-sizing: border-box;
	border: 1px solid;
}

input[type=number] {
	-webkit-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 6px 10px;
	margin: 5px 1px 3px 0;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	background-color: #f1f1f1;
}

input[type=number]:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 6px 10px;
	margin: 5px 1px 3px 0;
	border: 1px solid rgba(81, 203, 238, 1);
	border-radius: 4px;
}

select {
	padding: 6px 10px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
	margin: 5px 1px 3px 0;
}

label {
	color: #B4886B;
	font-weight: bold;
	padding: 6px 10px;
	width: 70px;
	display: inline-block;
}
label:after { content: ": " }
