<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<button class="accordion" onclick="switchDebugMode(this)" value="off">Debug mode OFF</button>
<div class="panel">
	<label for="balance">Balance</label>
	<input type="number" name="balance" id="balance" value="1337" min="1" max="5000" tabindex="1" oninput="updateBalance(this)" /> <br/>
	<label for="symbol1">Reel 1</label>
	<select name="symbol" id="symbol1"></select>
	<select name="position" id="position1"></select><br/>
	<label for="symbol2">Reel 2</label>
	<select name="symbol" id="symbol2"></select>
	<select name="position" id="position2"></select><br/>
	<label for="symbol3">Reel 3</label>
	<select name="symbol" id="symbol3"></select>
	<select name="position" id="position3"></select>
</div>
</body>
</html>
